@media (max-width: 1160px) {
  .cart1 {
    width: 28.6rem;
  }
  .forms {
    gap: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footerInfo {
    gap: 1.4rem;
  }
  .streamersBox {
    width: 90%;
    height: 90%;
  }
  .streamersList {
    width: 90%;
    height: 90%;
  }
  .form {
    max-width: 50rem;
  }
  .modal {
    width: 80%;
  }
  .cardholderContainer {
    max-width: 44rem;
  }

  .footerInfo p {
    font-size: 1.3rem;
  }
}

@media (max-width: 931px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 50%;
  }
  .comContent {
    font-size: 1.6rem;
  }
}
