@media (max-width: 1160px) {
  .cart1 {
    width: 28.6rem;
  }
  .forms {
    gap: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footerInfo {
    gap: 1.4rem;
  }
  .streamersBox {
    width: 90%;
  }
  .streamersList {
    width: 90%;
  }
  .form {
    max-width: 44rem;
  }
  .footerInfo p {
    font-size: 1.4rem;
  }
}
