@media (max-width: 1160px) {
  .cart1 {
    width: 28.6rem;
  }
  .forms {
    gap: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footerInfo {
    gap: 1.4rem;
  }
  .streamersBox {
    width: 90%;
    height: 90%;
  }
  .streamersList {
    width: 90%;
    height: 90%;
  }
  .form {
    max-width: 50rem;
  }
  .modal {
    width: 80%;
  }
  .cardholderContainer {
    max-width: 44rem;
  }
  .footerGore {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
  .footerDole {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
}

@media (max-width: 931px) {
  html {
    font-size: 55%;
  }
  .benefits{
    gap:0rem;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 50%;
  }
  .benImg{
    font-size: 45%;
  }
  .comContent {
    font-size: 1.6rem;
  }
  .header {
    background-position: -14rem 0;
  }
  .benefits{
    flex-direction: column;
    height: 113rem;
  }
}

@media(max-width: 760px){
  .deskPrice{
   display:none;
  }
  .slider{
    display: block;
    /* transform: scale(); */
    }
    .midHeight {
      margin-top: 10rem;
    }
    .pricing{
      height:auto ;
      padding-bottom: 10rem;
    }
  .forms{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }



}
