@media (max-width: 1160px) {
  .cart1 {
    width: 28.6rem;
  }
  .forms {
    gap: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    /* font-size: 62.5%; */
  }

  .footerInfo {
    gap: 1.4rem;
  }
  .streamersBox {
    width: 90%;
    height: 96%;
  }

  .streamersList {
    width: 90%;
    height: 84%;
  }
  .form {
    max-width: 50rem;
  }
  .modal {
    width: 80%;
    /* height: 90%; */
  }
  .cardholderContainer {
    max-width: 44rem;
  }
  .footerGore {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
  .widgTop{
    bottom: 1.9rem;
    right: 2.6rem;

  }
  .footerDole {
    margin-left: 3.6rem;
    margin-right: 3.6rem;
  }
  .benefit {
    transform: scale(0.9);
  }
  .benefits {
    gap: 10rem;
  }
}

@media (max-width: 931px) {
  html {
    font-size: 55%;
  }
  .benefits {
    gap: 0rem;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 50%;
  }
  .benImg {
    font-size: 45%;
  }
  .comContent {
    font-size: 1.6rem;
  }
  .header {
    background-position: -14rem 0;
  }
  .benefits {
    flex-direction: column;
    height: 120rem;
    background-color: #051535;
  }
  
}

@media (max-width: 738px) {
  html {
    font-size: 47.5%;
  }
  .deskPrice {
    display: none;
  }
  .slider {
    display: block;
    /* transform: scale(); */
  }
  .midHeight {
    margin-top: 2rem;
  }

  .cardholderContainer {
    max-width: none;
    width: 100%;
  }
  .form {
    max-width: none;
    height: 81rem;
    width: 100%;
  }
  .naslovKartica {
    margin-top: 11.6rem;
  }

  .cart1 {
    width: 33rem;
    height: 72rem;
  }
  /* .month {
    font-size: ;
  } */
  .toggle {
    gap: 0.7rem;
    font-size: 2.1rem;
    margin-left: -9rem;
    margin-top: 0;
  }
  .paymentBtn {
    width: 100%;
    margin-top: 3.2rem;
  }

  .gift {
    width: 37rem;
    height: 26rem;
    /* margin-bottom: 6rem; */
  }

  .checkbox {
    font-size: 2rem;
  }

  .podnaslov {
    padding: 4rem;
    margin-top:0;
  }
  .checkbox input {
    width: 3rem;
    height: 3rem;
  }
  .dis{
    width: 7.4rem;
    height: 4.3rem;
    text-align: center;
  }

  .pos50{
    margin-top:-30%;
  }

  .pricing {
    height: auto;
    padding-bottom: 10rem;
  }
  .forms {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    max-width: 100%;
  }
  .header {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 6.88%,
        rgba(255, 255, 255, 0.72) 51.25%
      ),
      url(Image.png)-85rem;
  }
  .headTitle {
    color: #f9f9f9;
    font-size: 3rem;
  }
  .headertext {
    font-size: 6rem;
    text-align: center;
    margin-left: 0;
    margin-top: 37rem;
    margin-bottom: 2rem;
  }
  .headtext {
    margin: 0;
    text-align: center;
    margin-bottom: 7rem;
  }
  .headerBtn {
    margin-left: auto;
    margin-right: auto;
  }
  .forms {
    position: relative;
  }
  .paymentBtn {
    position: absolute;
    bottom: 0;
    /* margin-bottom: 8.8rem; */
  }

  .footerGore {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: 2rem;
    padding-top: 5rem;
  }
  .footerDole {
    flex-direction: column-reverse;
  }
  .footerInfo {
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
    font-size: 2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 43rem;
    padding-top: 0;
    justify-content: flex-start;
  }
  .prava {
    text-align: center;
    font-size: 1.8rem;
  }
  .footerTitle {
    font-size: 3.3rem;
  }
  .footerIcons {
    width: 15.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .comtitle {
    font-size: 5.5rem;
  }
  .comment {
    flex-direction: column;
    height: auto;
    width: 95%;
  }
  .slikaCom img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
  }
  .comName {
    position: absolute;
    top: -66px;
    left: 55px;
  }
  .comDate {
    position: absolute;
    top: -60px;
    font-size: 1.6rem;
  }
  .comText {
    gap: 0;
    height: auto;
  }
  .showMoreCom {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .comContent {
    font-size: 1.85rem;
    line-height: 2.6rem;
  }
  .widgTop {
    bottom: 2.8rem;
    right: 2rem;
    gap: 0;
  }
  .streamersBox {
    width: 102%;
    height: 100%;
  }
  .widgTitle {
    font-size: 3.7rem;
    margin-top: 2rem;
  }
  .streamersList {
    background: #072d49;
    width: 83%;
    height: 82%;
  }
  .noComment {
    text-align: center;
  }
  .enterMail {
    padding: 2rem;
  }
  .cuponText {
    padding: 2rem;
  }
  .modal {
    width: 80%;
    height: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .input-fields-cou {
    width: auto;
    max-width: auto;
  }
}
@media (max-width: 494px) {
  .streamer {
    flex-direction: row;
    width: 94%;
  }
  .status {
    left: 5.45rem;
    top: 7.25rem;
  }
  .streamer {
    border-top: #10b0e7 solid 2px;
    padding: 0;

    height: 11.6rem;
  }
  .streamerName,
  .streamerEmail,
  .streamerAction {
    text-align: start;
    margin-left: 2rem;
    padding: 0.4rem;
  }
  .streamerEmail {
    font-size: 1.9rem !important;
  }
  .streamerAction {
    font-size: 1.9rem !important;
  }
}
