* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: #f9f9f9;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* ///////////////////////// PRICING SECTIONN ///////////////////// */

.pricing {
  background: #072d49;
  height: 120rem;
  width: 100%;
}

.chooseText {
  text-decoration: none;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-top: 1rem;
}

#paddMid {
  padding-top: 1.4rem;
}

.naslov {
  text-align: center;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.8rem;
  color: #f9f9f9;
  padding-top: 13.6rem;
}

.podnaslov {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 3.2rem;
  font-weight: 600;
  color: #10b0e7;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  display: flex;
  gap: 1.6rem;
  color: #f9f9f9;
  font-size: 2.4rem;
  align-items: center;
  margin-top: 7.2rem;
  margin-bottom: 4.8rem;
  transform: translateX(5rem);
}
.prekidac {
  width: 8rem;
  height: 3.8rem;
  background: #10b0e7;
  border-radius: 64px;
  display: none;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.prekidac2 {
  width: 8rem;
  height: 3.8rem;
  background: #99a8b4;
  border-radius: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.dis {
  width: 104px;
  height: 23px;
  background: #e76a10;
  border-radius: 4px;
  font-size: 1.4rem;
  padding: 0.3rem 1.6rem;
}

.cart1 {
  width: 33.6rem;
  height: 58.4rem;
  display: flex;
  background: rgba(14, 14, 33, 0.24);
  border-radius: 0.4rem;
}

.centarC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.naslovKartica {
  font-size: 3.8rem;
  color: #f9f9f9;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5.6rem;
  margin-bottom: 0.4rem;
}

.trial {
  font-weight: 600;
  font-size: 16px;
  color: #99a8b4;
  display: flex;
  line-height: 20px;
}
.freeb {
  color: #10b0e7;
  margin-left: 0.3rem;
  margin-bottom: 2rem;
}
.oldprice {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  text-decoration-line: line-through;
  color: #e76a10;
  opacity: 0;
}

.price {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #f9f9f9;
  margin-bottom: 0.2rem;
}

.des {
  color: #99a8b4;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.6rem;
}
.acc {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #f9f9f9;
  margin-bottom: 3.2rem;
}
.paketTip {
  color: #072d49;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.choose {
  width: 26.4rem;
  height: 4.4rem;
  border: 0.2rem solid #10b0e7;
  filter: drop-shadow(0px 4px 8px rgba(101, 119, 133, 0.24));
  border-radius: 4px;
  background: #0e0e213d;
  color: #f9f9f9;
  font-weight: 600;
  margin-bottom: 3.2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.check {
  font-weight: 600;
  font-size: 1.4rem;
  color: #f9f9f9;
}

.check p {
  padding: 0.2rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #657785;
  font-size: 1.4rem;
}
.centarA {
  align-items: centar;
  display: flex;
}
.cartFoo {
  margin-bottom: 3.2rem;
  color: #99a8b4;
  font-size: 1.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
  margin-top: 7.4rem;
}

.deskPrice {
  display: flex;
  gap: 3.2rem;
}
.top {
  margin-top: 3.25rem;
}
.top2 {
  margin-top: 2.45rem;
}
.midHeight {
  height: 60.02rem;
}
.midBcolor {
  background-color: #f9f9f9;
}
.midColor {
  color: #27597d;
  font-weight: 600;
}
.midBtn {
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  border: none;
}
.bold800 {
  font-weight: 800;
}
.month {
  font-weight: 600;
}
.transformY {
  transform: translateY(-0.3rem);
}
.circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #f9f9f9;
  margin-right: 0.4rem;
}
.marLeft {
  margin-left: 0.4rem;
}
.hidden {
  display: none;
}

/* ////////////////////HEADR////////////////////////// */

.header {
  background-image: url("Image.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.headTitle {
  text-align: center;
  font-size: 4rem;
  padding-top: 4.8rem;
  font-weight: 800;
  color: #072d49;
}

.headertext {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8.8rem;
  margin-left: 14.6rem;
  margin-top: 22.3rem;
  color: #072d49;
}

#btnHeader {
  padding-top: 1.6rem;
}
.headtext {
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 14.6rem;
  margin-top: 2.4rem;
  color: #072d49;
}

.headerBtn {
  background-color: #e76a10;
  width: 29.5rem;
  height: 6.1rem;
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 14.6rem;
  border: none;
  color: #f9f9f9;
  margin-top: 4rem;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  cursor: pointer;
}

/* /////////////////// CUPON //////////////////////// */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 21, 53, 0.24);
  z-index: 5;
}

.modal {
  width: 93.6rem;
  max-height: 73.4rem;
  border-radius: 0.4rem;
  background-color: #f9f9f9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.gift {
  padding-top: 5.6rem;
  margin-bottom: 4rem;
}
.x {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  font-size: 2.6rem;
  color: #99a8b4;
  cursor: pointer;
  font-weight: 600;
}

.cuponText {
  display: inline-block;
  color: #072d49;
  font-weight: 600;
  font-size: 3.6rem;
}

.input-fields-cou {
  width: 506px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-left: 40px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 1.8rem;
  background-color: #f9f9f9;
}

.inputPos {
  position: relative;
}

.iconCoupon {
  position: absolute;
  top: 15px;
  left: 12px;
  color: #657785;
  margin-bottom: 7rem;
}

.dif {
  display: inline-block;
  color: #e76a10;
  font-weight: 800;
  font-size: 3.6rem;
}

.enterMail {
  color: #657785;
  font-size: 2.2rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.mailCupon {
  width: 50.6rem;
  height: 5.6rem;
  border: 0.1rem solid #99a8b4;
  border-radius: 4px;
  color: #99a8b4;
  margin-bottom: 7rem;
}

.cuponBtn {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  width: 29.9rem;
  height: 6.1rem;
  color: #f9f9f9;
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  border: none;
  margin-bottom: 5.6rem;
  cursor: pointer;
  margin-top: 5rem;
}

/* //////////////////// COMMENTS ////////////////// */

.comtitle {
  color: #072d49;
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.8rem;
  max-width: 37.3rem;
  height: 7.8rem;
  margin-top: 13.6rem;
  margin-bottom: 8rem;
}

.commentsCon {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.commentsWrap {
  max-width: 82.4rem;
}

.comment {
  width: 100%;
  height: 23.5rem;
  display: flex;
  padding: 40px 32px 32px;
  gap: 32px;
  border-bottom: 4px solid #10b0e7;
}

.slikaCom img {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
}
.comText {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 62.4rem;
  height: 16.3rem;
  position: relative;
}
.comName {
  width: 15.2rem;
  height: 2.9rem;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #072d49;
}
.comMail {
  height: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #99a8b4;
}
.comDate {
  position: absolute;
  top: 0;
  right: 0;
  height: 17px;
  color: #99a8b4;
  font-size: 1.4rem;
}
.comContent {
  width: 62.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #072d49;
}

.showMoreCom {
  padding: 1.6rem 4rem;
  gap: 0.8rem;
  width: 19.8rem;
  height: 5.6rem;
  background: #e76a10;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 0.4rem;
  margin-bottom: 11.2rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  border: none;
  color: #f9f9f9;
  display: flex;
  float: right;
  cursor: pointer;
}

.noComment {
  color: #657785;
  font-size: 2rem;
  text-align: end;
  margin-top: 3.2rem;
  opacity: 0;
}

.right {
  float: right;
}
/* /////////////////////// FORMS ///////////////////////////////// */

.forms {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding-top: 11.2rem;
}

.form {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cardHeader {
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid #072d49;
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #072d49;
}

.inputField {
  position: relative;
}

.input-fields {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-left: 40px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 1.8rem;
  background-color: #f9f9f9;
}

.input2 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: 1px solid #99a8b4;
  border-radius: 4px;
  font-size: 20px;
  background-color: #f9f9f9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cardholderInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.cardholderContainer {
  width: 50rem;
}

.cardInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.orderForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  font-size: 2.4rem;
}

.inputInfo {
  color: #072d49;
  font-weight: 600;
  font-size: 18px;
}

.horizontal-line {
  width: 100%;
  height: 0px;
  border: 1px solid #99a8b4;
}

.lineDark {
  width: 100%;
  height: 0px;
  border: 1px solid #657785;
}

.nekaMargina {
  margin-top: 1.9rem;
}

.paymentBtn {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  color: #f9f9f9;
  background: #e76a10;
  padding: 16px 40px;
  border: none;
  box-shadow: 0px 4px 8px rgba(101, 119, 133, 0.24);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4.8rem;
  margin-bottom: 8.35rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.gap-md {
  gap: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.4rem;
  margin-bottom: 8.35rem;
}

.checkbox input {
  width: 18px;
  height: 18px;
}

.icon {
  position: absolute;
  top: 36px;
  left: 12px;
  color: #657785;
}

ul li {
  color: #f63f34;
  font-size: 1.6rem;
  list-style-type: none;
}
.checkText {
  color: #657785;
}

/* //////////////////////////// WIDGET ///////////////////////// */

.streamersBox {
  width: 100.4rem;
  height: 88.1rem;
  background: #072d49;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  display: none;
}

.widgTitle {
  color: #f9f9f9;
  font-weight: 800;
  font-size: 40px;
  left: 56px;
  top: 56px;
  position: absolute;
}

.widgX {
  top: 4.47%;
  right: 3.72%;
  position: absolute;
  cursor: pointer;
  width: 3rem;
  height: 2.5rem;
}

.streamersList {
  width: 904px;
  height: 704px;
  overflow-y: scroll;
  background: linear-gradient(
      0deg,
      rgba(5, 21, 53, 0.24),
      rgba(5, 21, 53, 0.24)
    ),
    #072d49;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  flex-direction: column;
  align-items: center;
  padding: 24px 8px;
  gap: 8px;
  position: absolute;
  top: 12.1rem;
  left: 5.6rem;
  margin-right: 2rem;
}

.streamer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  width: 272px;
  height: 216px;
  position: relative;
}

.streamerImg {
  width: 72px;
  height: 72px;
  border: 3px solid #1ad838;
  border-radius: 64px;

  position: relative;
}

.streamerImg img {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.streamerName {
  width: 152px;
  height: 29px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f9f9f9;
  text-align: center;
}

.streamerEmail {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #657785;
}

.streamerAction {
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
}

.status {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 155px;
  top: 72px;
  border-radius: 50%;
  z-index: 1;
  background: #1ad838;
}

::-webkit-scrollbar {
  border: 1px solid #10b0e7;
  transform: rotate(90deg);
  width: 0.3rem;
  position: absolute;
  left: 4.4rem;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  width: 5px;
  height: 24px;
  left: 24px;
  top: 114px;
  background: #e76a10;
  transform: rotate(-180deg);
}

.widget {
  position: fixed;
  right: 5%;
  top: 85%;
  cursor: pointer;
  border-radius: 5rem;
}

.goToTop {
  position: fixed;
  right: 6%;
  top: 76%;
  cursor: pointer;
}

footer {
  height: 253px;
  background: #0e0e21;
}

.footerGore {
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  display: flex;
  justify-content: space-between;
  padding-top: 7.2rem;
}

.footerTitle {
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  color: #657785;
}

.footerIcons {
  display: flex;
  gap: 1rem;
}

.footerDole {
  display: flex;
  justify-content: space-between;
  margin-left: 9.6rem;
  margin-right: 9.6rem;
  margin-top: 3.2rem;
}

.prava {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #99a8b4;
}

.footerInfo {
  display: flex;
  gap: 3.2rem;
}

.footerInfo p {
  color: #99a8b4;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.kvacica {
  color: #10b0e7;
}

/* //////////////////////////////// SLIDER ///////////////////////// */

.slider {
  width: 33.6rem;
  height: 64rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 33.6rem;
  height: 58.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 38%;
  z-index: 10;
  border: 2px solid black;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  background-color: #10b0e7;
  color: #333;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: none;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
}

.dots__dot {
  border: none;
  background-color: #ced8e1;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #10b0e7;
  opacity: 1;
  transform: scale(1.5);
}
